

*{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Karla';
}
.title{
    grid-area:title;
    justify-self: center;
    font-family: 'Karla';font-size: 50px;
    color: #336B87;
}

.content{
    grid-area: content;
    height: 470px;
    position: relative;

}

canvas {
    background:#336B87;
    position: absolute;
}

.footer{
    grid-area: footer;
    font-family: 'Karla';font-size: 12px;
    background-color: rgb(0, 217, 255);
    height: 50px;
}

.grid {
    display:grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr auto auto 1fr 1fr;
    grid-template-areas:
    ". . . ." 
    ". title title ."
    ". content content ."
    ". footer footer .";
    
}
#myButton{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 20px;
    align-self: center;
    margin:0px;
}

.grid div:nth-last-child(odd){
    background-color: #E6DF44;
}

 #color{
        position: fixed;
        left:0;
        top:0;
    }

#box{
    width: 1000px;
    height: 20px;
    background-color: #F0810F;
    margin: 0%;
    text-align: center;
}

button{
    border:0;
    border-radius:0.25rem;
    background-color: #F0810F;
    color: black;
    margin:30px;
    font-size: 15px;
}

#myDocumentation{
    display:none;
    /*text-align-last: center;*/
    padding-left:150px;
    padding-right:150px;
    padding-top: 20px;
    font-size: 15px;

}
#docButton{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 20px;
    align-self: center;
    margin:40px;
    
}
#docHeader{
font-style:bold;
font-size: 40px;
text-align-last: center;
align-self: center;
color: #2976c6;
}

#cssHeader{
font-size: 18px;
}

#htmlCanvasText{
    font-size: 18px;
}

#jqueryHeader{
    font-size: 18px;
}

#crossBrowserHeader{
    font-size: 18px;
}

#kilderHeader{
    font-size: 18px;
}
