

*{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Karla';
}
.title{
    grid-area:title;
    /*align-self: center;*/
    justify-self: center;
    font-family: 'Karla';font-size: 50px;
    color: #336B87;

   /* grid-column-end:span 1;
    grid-row-end:span 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    */
}

/*.header{
    grid-area:header;
    height: fit-content;
}*/

/*.sidebar{
    grid-area:sidebar;
    
}*/
.content{
    grid-area: content;
    height: 470px;
    position: relative;
   /* align-self: center;
    justify-self: start;*/
}

canvas {
    background:#336B87;
    position: absolute;
    /*height: 100%;
    width: 100%;*/
}

.footer{
    grid-area: footer;
    font-family: 'Karla';font-size: 12px;
    background-color: rgb(0, 217, 255);
    height: 50px;
}





.grid {
    display:grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr auto auto 1fr 1fr;
    grid-template-areas:
    ". . . ." 
    ". title title ."
    ". content content ."
    ". footer footer .";
    
}
#myButton{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 20px;
    align-self: center;
    margin:0px;
}
/*
.grid div:nth-last-child(even){
   background-color: #FF851B;
}
*/
.grid div:nth-last-child(odd){
    background-color: #E6DF44;
}


 #color{
        position: fixed;
        left:0;
        top:0;
    }

#box{
    width: 1000px;
    height: 20px;
    background-color: #F0810F;
    margin: 0%;
    text-align: center;
}
button{
    border:0;
    border-radius:0.25rem;
    background-color: aquamarine;
    color: black;
    margin:30px;

}
#myDocumentation{
    display:none;
    text-align-last: center;

}
#docHeader{
font-style:bold;
font-size: 30px;
}
